.login-container {
    max-width: 330px;
    padding: 15px; 
    
}
/*.login-container.form{
    margin: 0 0 10px 20px;
}
{
    margin-bottom: 10px;
}
    
input {
    margin-bottom: 10px;}*/